{% extends "about_page.html" %}

{%  block site_specific_info_card %}

  <div class="card">
  <div class="card-header text-left" id="swim_data">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#swim_data_collapse" aria-expanded="false" aria-controls="swim_data_collapse">
        <i class="fa" aria-hidden="true"></i>
        Swim Advisory Data
      </button>
    </h5>
  </div>
  <div id="swim_data_collapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body card-info-background">

      <h3>&nbsp;Swim Advisory Data</h3>
      <p><h3>Florida Healthy Beaches Program </h3>
          Florida Healthy Beaches Program <a href="http://www.floridahealth.gov/environmental-health/beach-water-quality/index.html " target="_blank">program page</a>

      </p>
      <h3>Swimming Advisories</h3>
      <p>
        Enterococci are enteric bacteria that normally inhabit the intestinal tract of humans and animals. The presence
        of enteric bacteria can be an indication of fecal pollution, which may come from stormwater runoff, pets and
        wildlife, and human sewage. If they are present in high concentrations in recreational waters and are ingested
        while swimming or enter the skin through a cut or sore, they may cause human disease, infections or rashes. The
        statewide testing program tests for enterococci, which the United States Environmental Protection Agency (EPA)
        opens in new window has recommended states adopt as a saltwater quality indicator. According to studies
        conducted by the EPA, enterococci have a greater correlation with swimming-associated gastrointestinal illness
        in both marine and fresh waters than other bacterial indicator organisms, and are less likely to "die off" in
        saltwater. If an enterococci result were observed to exceed 70 colony forming units per 100 milliliters of beach
        water sampled and a resampling result also exceeds this value, then an "Advisory" would be issued for the
        sampling site. </p>

      <h3>Indicators</h3>
      <p>
        In 1998, five of Florida's coastal counties began monitoring for enterococci bacteria under a grant-funded pilot
        program. By the beginning of 2000, 11 Florida counties were participating in the program, which continued
        through July 2000. In August 2000, the Beach Water Sampling Program was extended to 34 of Florida's coastal
        counties through state legislation (Senate Bill 1412 and House Bill 2145) and funding. In addition, sampling
        under the new program now includes fecal coliform as well as enterococci bacteria. The rationale for selecting
        these two bacteria for analysis and implications of the sampling results are described below. In August 2002,
        the beach water sampling program began collecting water samples on a weekly basis with additional funding from
        U.S. EPA. </p>
      <p>
    </div>
  </div>
</div>

{% endblock %}