{% extends "camera_page_base.html" %}
{% block head %}

<style>

body {
	font-family: Verdana, Geneva, sans-serif;
}

.bar { fill: steelblue; }

.line {
  fill: none;
  clip-path: url(#clip);
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

</style>

<script src="https://d3js.org/d3.v4.min.js"></script>

{% endblock %}

{% block body %}
    <div>Camera name: {{ cameraname }} </div>

<svg width="960" height="500"></svg>

<!--
<script>

var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 110, left: 40},
    margin2 = {top: 430, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    height2 = +svg.attr("height") - margin2.top - margin2.bottom;

//var parseDate = d3.timeParse("%m/%d/%Y %H:%M");
//var parseDate = d3.timeParse("%Y");
//var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");
var parseDate = d3.timeParse("%Y-%m-%d %H:%M");

var x = d3.scaleTime().range([0, width]),
    x2 = d3.scaleTime().range([0, width]),
    y = d3.scaleLinear().range([height, 0]),
    y2 = d3.scaleLinear().range([height2, 0]);

var xAxis = d3.axisBottom(x),
    xAxis2 = d3.axisBottom(x2),
    yAxis = d3.axisLeft(y);

var brush = d3.brushX()
    .extent([[0, 0], [width, height2]])
    .on("brush end", brushed);


var zoom = d3.zoom()
    .scaleExtent([1, Infinity])
    .translateExtent([[0, 0], [width, height]])
    .extent([[0, 0], [width, height]])
    .on("zoom", zoomed);


var line = d3.line()
    .defined(function(d) { return d.object_count; })
	.x(function (d) { return x(d.m_date); })
	.y(function (d) { return y(d.object_count); });

var line2 = d3.line()
    .defined(function(d) { return d.object_count; })
	.x(function (d) { return x2(d.m_date); })
	.y(function (d) { return y2(d.object_count); });


svg.append("defs").append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", width)
    .attr("height", height);


var focus = svg.append("g")
    .attr("class", "focus")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var context = svg.append("g")
    .attr("class", "context")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

var camName = '';
if ("{{ cameraname }}" == 'Folly Beach Pier Southside' ) {
  camName = 'follypiersouthcam';
}
if ("{{ cameraname }}" == 'Folly Beach Pier Northside' ) {
  camName = 'follypiernorthcam';
}

d3.csv("../../static/cameras/summary_person_"+camName+".csv", type, function (error, data) {
  if (error) throw error;

  var dateExtent = d3.extent(data.map(function(d) { return d.m_date; }));

  x.domain(dateExtent);
  //x.domain(d3.extent(data, function(d) { return d.m_date; }));
  y.domain([0, d3.max(data, function (d) { return d.object_count; })]);
  x2.domain(x.domain());
  y2.domain(y.domain());

/*
  var xScale = d3.scaleBand()
  	       .domain(d3.range(data.length))
  	       .rangeRound([0, width])
           .paddingInner(0.01);
*/

    focus.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    focus.append("g")
        .attr("class", "axis axis--y")
        .call(yAxis);

    // text label for the x axis
    /*
    focus.append("text")
      .attr("transform",
            "translate(" + (width/2) + " ," +
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("Date");
	*/

    // text label for the y axis
	focus.append("text")
	      .attr("transform", "rotate(-90)")
	      .attr("y", 0 - margin.left)
	      .attr("x",0 - (height / 2))
	      .attr("dy", "1em")
	      .style("text-anchor", "middle")
          .text("Person count");

  //interactive graph
  var mouseG = svg.append("g")
      .attr("class", "mouse-over-effects")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  mouseG.append("path") // this is the black vertical line to follow mouse
      .attr("class", "mouse-line")
      .style("stroke", "black")
      .style("stroke-width", "1px")
      .style("opacity", "0");

  mouseG.append("text") // this is the line value timestamp readout
      .attr("class", "mouse-valuetime")
      .attr("transform", "translate(10,10)") //text display offset
      .style("opacity", "1")
      .text('');

  mouseG.attr("transform", "translate(" + margin.left+ "," + margin.top + ")");

//=================================

//add graph line break 'NA' values when data gaps
var dGapBreak = 60000; //time in milliseconds to place break 'NA' value
var dGapThresh = 1800000+dGapBreak; //time in milliseconds = 30 min+1 minute, over thresh creates line break
var dGap = [];

			 for (var i = 0; i < data.length; i++) {
			   if (i == 0) { dTimePrev = data[i].m_date; }
			   if (data[i].m_date.getTime() - dTimePrev > dGapThresh) {
			     //console.log('gap');
			     var dGapTemp = { m_date: dTimeBreak, object_count: 0 };
			     //var dGapTemp = null;
			     dGap.push(dGapTemp);

				 dTimeBreak2 = new Date(data[i].m_date.getTime() - dGapBreak);
			     var dGapTemp2 = { m_date: dTimeBreak2, object_count: 0 };
			     dGap.push(dGapTemp2);
			   }
			   dTimePrev = data[i].m_date.getTime();
			   dTimeBreak = new Date(dTimePrev+dGapBreak); //create line break
			   //dTimeBreak2 = new Date(dTimePrev+dGapBreak+dGapBreak); //create line break
		    	   //if (d.values[i].value > 16 && d.values[i].value < 17) { d.values[i].value = 'NA'; };
			   //console.log("dvadate"+d.values[i].date.getTime());
			   //console.log("dva:"+d.values[i].value);
			   //d[i].object_count = unitsConvert(d[i].object_count);
			   dGap.push(data[i]);
			 }
			 //console.log("dGap:"+dGap);
			 //d = dGap;

/*
    focus.append("path")
        .datum(data)
        .attr("class", "line")
        //.attr("d", line);
        .attr("d", function(d) {

		         var dTimePrev;
		         var dTimeBreak;
			 //var dGap = [];

			 for (var i = 0; i < d.length; i++) {
			   if (i == 0) { dTimePrev = d[i].m_date; }
			   if (d[i].m_date.getTime() - dTimePrev > dGapThresh) {
			     //console.log('gap');
			     var dGapTemp = { m_date: dTimeBreak, object_count: 0 };
			     //var dGapTemp = null;
			     dGap.push(dGapTemp);

				 dTimeBreak2 = new Date(d[i].m_date.getTime() - dGapBreak);
			     var dGapTemp2 = { m_date: dTimeBreak2, object_count: 0 };
			     dGap.push(dGapTemp2);
			   }
			   dTimePrev = d[i].m_date.getTime();
			   dTimeBreak = new Date(dTimePrev+dGapBreak); //create line break
			   //dTimeBreak2 = new Date(dTimePrev+dGapBreak+dGapBreak); //create line break
		    	   //if (d.values[i].value > 16 && d.values[i].value < 17) { d.values[i].value = 'NA'; };
			   //console.log("dvadate"+d.values[i].date.getTime());
			   //console.log("dva:"+d.values[i].value);
			   //d[i].object_count = unitsConvert(d[i].object_count);
			   dGap.push(d[i]);
			 }
			 //console.log("dGap:"+dGap);
			 //d = dGap;
			 d = dGap.slice();
			 console.log("d:"+d[0].m_date);
	 return line(d); }) //was d.values
*/

    focus.append("path")
        .datum(dGap)
        .attr("class", "line")
        .attr("d", line);


    context.append("path")
        .datum(dGap)
        .attr("class", "line")
        .attr("d", line2);

/*
  svg.selectAll("bar")
      .data(data)
    .enter().append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { return x(d.m_date); })
      .attr('width', xScale.bandwidth())
      .attr("y", function(d) { return y(d.object_count); })
      .attr("height", function(d) { return height - y(d.object_count); });
*/

// append the rectangles for the bar chart
/*
  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.m_date); })
      .attr("width", xScale.bandwidth())
      .attr("y", function(d) { return y(d.object_count); })
      .attr("height", function(d) { return height - y(d.object_count); });
*/

// Add the scatterplot
/*
    svg.selectAll("dot")
        .data(data)
      .enter().append("circle")
        .attr("r", 3.5)
        .attr("cx", function(d) { return x(d.m_date); })
        .attr("cy", function(d) { return y(d.object_count); });
*/

  context.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxis2);

  context.append("g")
      .attr("class", "brush")
      .call(brush)
      //.call(brush.move, x.range());
	  //just select starting extent the previous day, etc
      .call(brush.move, [new Date(dateExtent[1].valueOf() - 1000 * 1 * 24 * 60 * 60),  dateExtent[1]].map(x));

/*
  svg.append("rect")
      .attr("class", "zoom")
      .attr("width", width)
      .attr("height", height)
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(zoom);
*/

  //interactive graph

    var lines = document.getElementsByClassName('line');

  var obsGraphed = 0;
  var i = 1;
  var useColumn = 'object_count';

  var varNames = d3.keys(data[0])
      .filter(function (key) { return key == useColumn;});

  var obs = varNames.map(function (id) { //declared global for brush function
    return {
      id: id,
      values: data.map(function (d) {
        return {date: d.m_date, value: d[id]};
      })
    };
  });

    //selectAll seems important vs select - places elements outside svg body otherwise,etc -
    //had to keep ymulti here, since running iteratively, need to keep js from thinking we already have the attr created(and not creating it)
    var mousePerLine = mouseG.selectAll('.ymulti-mouse-per-line'+obsGraphed)
      .data(obs)
      .enter()
      .append("g")
      .attr("class", "mouse-per-line ymulti-mouse-per-line"+obsGraphed)

    mousePerLine.append("circle")
      .attr("r", 7)
      .style("stroke", "black")
      //.style("stroke", function(d) {
      //  return color(d.name);
      //})
      .style("fill", "none")
      .style("stroke-width", "1px")
      .style("opacity", "0");

    mousePerLine.append("text")
      .attr("transform", "translate(10,-3)"); //text display offset

    mouseG.append('svg:rect') // append a rect to catch mouse movements on canvas
      .attr('width', width) // can't catch mouse events on a g element
      .attr('height', height)
      .attr('fill', 'none')
      .attr('pointer-events', 'all')
      .on('mouseout', function() { // on mouse out hide line, circles and text
        d3.select(".mouse-line")
          .style("opacity", "0");
        d3.selectAll(".mouse-per-line circle")
          .style("opacity", "0");
        d3.selectAll(".mouse-per-line text")
          .style("opacity", "0");
      })
      .on('mouseover', function() { // on mouse in show line, circles and text
        d3.select(".mouse-line")
          .style("opacity", "1");

      d3.selectAll(".ymulti-mouse-per-line"+obsGraphed+" circle")
	          .style("opacity", "1");
	              d3.selectAll(".ymulti-mouse-per-line"+obsGraphed+" text")
              .style("opacity", "1");

      })

      .on('mousemove', function() { // mouse moving over canvas
        var mouse = d3.mouse(this);
        d3.select(".mouse-line")
          .attr("d", function() {
            var d = "M" + mouse[0] + "," + height;
            d += " " + mouse[0] + "," + 0;
            return d;
          });

	//var options = { hour12: true };
	//var thisDate = x.invert(mouse[0]).toLocaleString("pl-PL", options)

	var thisDateYear = x.invert(mouse[0]).getFullYear();
        //console.log(x.invert(mouse[0]).getMonth());
	var thisDateMonth = pad(x.invert(mouse[0]).getMonth()+1,2);
	var thisDateDay = pad(x.invert(mouse[0]).getDate(),2);

	var AMPM = "AM";
	var thisDateHours = x.invert(mouse[0]).getHours();
	if (thisDateHours > 12) {
    	  thisDateHours -= 12;
	  AMPM = "PM";
	} else if (thisDateHours === 0) {
   	  thisDateHours = 12;
	}

	var thisDateMinutes = pad(x.invert(mouse[0]).getMinutes(),2);

	thisDate = thisDateYear.toString()+"-"+thisDateMonth+"-"+thisDateDay+" "+thisDateHours.toString()+":"+thisDateMinutes+" "+AMPM;

	//var thisDate = dateformat(x.invert(mouse[0]), "dddd, mmmm dS, yyyy, h:MM:ss TT");

	mouseXOffset = +mouse[0] + 10;
        d3.select(".mouse-valuetime")
          .attr("transform", "translate("+mouseXOffset+",10)") //text display offset
          .text(thisDate);

        d3.selectAll(".mouse-per-line")
          .attr("transform", function(d, i) {
            //console.log(width/mouse[0])
            //console.log(d)
            var xDate = x.invert(mouse[0]),
                bisect = d3.bisector(function(d) { return d.date; }).right;
                idx = bisect(d.values, xDate);

            var beginning = 0,
                end = lines[i].getTotalLength(),
                target = null;

	    var hideMouse = 0;

            while (true){
              target = Math.floor((beginning + end) / 2);
              pos = lines[i].getPointAtLength(target);

              if ((target === end || target === beginning) && pos.x !== mouse[0]) {
		  if (mouse[0] - pos.x > 2) { //2 is the threshold pixel value distance where this is close enought to a graph line break
		    hideMouse = 1;
		  }
                  break;
              }
              if (pos.x > mouse[0])      end = target;
              else if (pos.x < mouse[0]) beginning = target;
              else break; //position found
            }

            //y.domain([yMultiMin[i+1],yMultiMax[i+1]]);
	    if (hideMouse == 0) {
            d3.select(this).select('text')
              //.text(y.invert(pos.y).toFixed(2));
              .text(y.invert(pos.y).toFixed(0)); //counting whole objects, not fractional
            d3.select(this).select('circle')
              .style("opacity", "1");
	    }
	    else {
            d3.select(this).select('text')
              .text('');
              //.style("opacity", "0"); //valid step also but would need to enable like circle above
            d3.select(this).select('circle')
              .style("opacity", "0");

	    //keeping this on in case of several graphs displayed with different gaps
            //d3.select(".mouse-valuetime")
            //  .text('');
	    }

            return "translate(" + mouse[0] + "," + pos.y +")";
          });

      });



  console.log(data);
});

function brushed() {
  if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
  var s = d3.event.selection || x2.range();
  x.domain(s.map(x2.invert, x2));
  focus.select(".line").attr("d", line);
  focus.select(".axis--x").call(xAxis);
  svg.select(".zoom").call(zoom.transform, d3.zoomIdentity
      .scale(width / (s[1] - s[0]))
      .translate(-s[0], 0));
}


function zoomed() {
  if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return; // ignore zoom-by-brush
  var t = d3.event.transform;
  x.domain(t.rescaleX(x2).domain());
  focus.select(".line").attr("d", line);
  focus.select(".axis--x").call(xAxis);
  //context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
  //context.select(".brush").call(brush.move, [[startX, endX], [startY, endY]]);
  //context.select(".brush").call(brush.move, [x(new Date(dateExtent[1].valueOf() - 1000 * 1 * 24 * 60 * 60)),  x(dateExtent[1])]);
}


function type(d) {
  d.m_date = parseDate(d.m_date);
  d.object_count = +d.object_count;
  return d;
}

function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}

function unitsConvert(baseValue) {

/*
  if (document.getElementById('units_convert').value == 'english') {
    if (document.getElementById('obs_choice').value == 'temp') {
      baseValue = (baseValue*9/5)+32;
    }
    if (document.getElementById('obs_choice').value == 'depth') {
      baseValue = (baseValue*3.2808);
    }
  }
*/

  return baseValue;
}

</script>
-->
{% endblock %}

