{% extends "intro_page_base.html" %}
{% block head %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How's the Beach</title>

    <link href="static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">

    <style>
      .row-buffer-20px
      {
        margin-top:20px;
      }

      html {
        background: transparent;
        font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      }
      .header_text {
        color: #626567;
        /*color: RGB(255, 255, 255);*/
        font-family: "Lato",sans-serif;
        /*font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;*/
      }
      .header_text h1 {
        font-size: 36px;
      }
      .header_text h2 {
        font-size: 24px;
      }
      body { background: transparent;}
      .marketing .col-lg-4 {
          margin-bottom: 20px;
          text-align: center;
      }
      .marketing h2 {
          font-weight: normal;
      }
      .marketing .col-lg-4 p {
          margin-left: 10px;
          margin-right: 10px;
      }
      .footer {
        bottom: 0;
        /*position: absolute;*/
        width: 100%;
      }
      .footer_text {
        color: #626567;
        font-family: "Lato",sans-serif;
      }
      .footer_text h2 {
        font-size: 24px;
      }
    </style>
{% endblock %}

{% block body %}
  <div class="site-wrapper">
    <div class="container-fluid">
      <div class="row row-buffer-20px"></div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <img class="img-rounded" src="static/images/swimmer_icon.png"  style="width: 80px; height: 80px;">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 header_text">
          <h1 class="text-center">HOW'S THE BEACH?</h1>
          <h2 class="text-center">Site is undergoing maintenance, please check back later.</h2>
        </div>
      </div>
      <footer class="footer footer_text">
      </footer>
    </div>
  </div>

{% endblock %}
