{% extends "index_template_base.html" %}
{% block google_analytics %}
  <script>
  </script>
{% endblock %}

{% block title %}How's Myrtle Beach{% endblock %}

{% block post_css_block %}
    {{ super() }}
  <style>
		.message_area_text {
			color: #FF5858;
			background-color: #FFFFFF;
		}
		.message_text {
			text-align: center;
		}
  </style>
{% endblock %}

{% block site_message_block %}
  {% if site_message %}
    <div id="message_area" class="message_area_text">
      <div id="site_message_text" class="message_text">
        <p>
          <h3><bold>{{site_message}}</h3></bold>
        </p>
      </div>
    </div>
  {% endif %}
{%  endblock %}

{%  block beachListPage %}
  <div id="beachListPage" data-role="page" data-title="HowstheBeach">

	<div data-role="header" data-id="mainheader" data-theme="c" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<ul id="navItems">
				<li><a href="#mapPage">Map</a></li><li><a href="#beachListPage" class="ui-state-persist ui-btn-active">Search</a></li><li><a href="#moreInformation">Info</a></li>
			</ul>
		</div>
			<ul id="beachListHeadings" data-role="listview">
				<li data-theme="d" style="padding:0 0 5px 0;border:none;">
					<span onclick="sortBy(1)" class="list-table-heading" style="text-align:left;padding-left:25px;">
						<div id="arrows_1" class="arrow-asc"></div>
						<div style="display:inline-block">Location</div>
					</span>
					<span onclick="sortBy(3)" class="list-table-heading">
						<div id="arrows_3"></div>
						<div id="forecast_column" style="display:inline-block">Forecast<br /></div>
					</span>
					<span onclick="sortBy(4)" class="list-table-heading">
						<div id="arrows_4"></div>
						<div style="display:inline-block">Swim<br />Advisory</div>
					</span>
					<span onclick="sortBy(5)" class="list-table-heading"><div id="arrows_5"></div>
						<div style="display:inline-block">Bacteria<br />Data</div>
					</span>
				</li>
			</ul>

	</div>





	<div data-role="content" style="padding-top:0">
        <ul id="beachList" data-divider-theme="c" data-role="listview" data-filter="true" data-filter-placeholder="Search Beaches (name or forecast, eg low)"></ul>
    </div>

</div>
{% endblock %}

{% block beachDetailsPage %}
	<div id="detailsheader" data-role="header" data-add-back-btn="true" data-id="detailsheader" data-theme="c" data-position="fixed" data-tap-toggle="false">
		<h1 id="beachName" style="font-size:12px;height:25px;"></h1>
		<div data-role="navbar">
			<div id="detail_page_tabs" data-role="tabs">
		        <ul>
		            <li><a id="details_data_tab_link" href="#data_panel">Data</a></li>
		            <li><a id="details_map_tab_link" href="#map_panel" class="detail_map_button">Aerial view</a></li>
		        </ul>
	    	</div>
    	</div>
	</div>

  <div data-role="content" style="padding-left:0;padding-right:0;padding-bottom:0">

  	<div id="data_panel" data-role="tab-content">

    	<div id="beachDetailsContainer">

	    	<ul id="beachDetailsHeadings" data-role="listview">
				<li data-theme="d" style="padding:0;border:none;">
					<span id="details_forecast_column" class="details-table-heading">Forecast<br /></span>
					<span class="details-table-heading">Swim<br />Advisory</span>
					<span id="details_data_column" class="details-table-heading">Bacteria<br />Data<br /></span>
				</li>
			</ul>
		    <ul id="beachDetails" data-divider-theme="c" data-role="listview"></ul>
		    <hr style="clear: both;visibility: hidden;" />

			<fieldset id="dayRangeSelector" style="padding-left:10px;" data-role="controlgroup" data-mini="true" data-type="horizontal">

		         	<input type="radio" name="num-days" id="num-days-30" value="30" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 30)),Date.parse(current_date));" />
		         	<label for="num-days-30">30 days</label>

		         	<input type="radio" name="num-days" id="num-days-60" value="60" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 60)),Date.parse(current_date));" />
		         	<label for="num-days-60">60 days</label>

		         	<input type="radio" name="num-days" id="num-days-180" value="180" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 180)),Date.parse(current_date));"  />
		         	<label for="num-days-180">180 days</label>

		         	<input type="radio" name="num-days" id="num-days-365" value="365" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 365)),Date.parse(current_date));" checked="checked" />
		         	<label for="num-days-365">365 days</label>

			</fieldset>

		</div>

		<div id="monitoring_data_graph" style="padding:0;width:99%"></div>
	</div>

	<div id="map_panel" data-role="tab-content" style="padding:0">
		<div id="detail_map_canvas" style="width:100%"></div>
	</div>

  </div>
{% endblock %}

{% block about_content%}
  <div data-role="collapsible-set" data-inset="false">
    <div data-role="collapsible" data-collapsed="false">
      <h3>&nbsp;About</h3>
      <p>How's the Beach is a joint initiative of University of South Carolina, Southeast Coastal Ocean Observing Regional Association, and the Integration and Application Network at the University of Maryland Center for Environmental Science.</p>
      <p>
        <strong>What are we forecasting?</strong>
      </p>
      <p>
        Enterococci</br>
      </p>
      <p>
        <strong>What is Enterococci?</strong>
      </p>
      <p>
        Enterococci are bacteria that normally inhabit the intestinal tract of humans and animals. The presence of these bacteria can be an indication of fecal pollution, which may come from stormwater runoff, pets and wildlife, and human sewage. If they are present in high concentrations in recreational waters, it is more likely that pathogens that cause disease, infections or rashes may also be present. These pathogens can cause harm if they are  ingested while swimming or enter the skin through a cut or sore.				</p>
      <p><strong>This product is for informational purposes only. Please consult your state and local health departments for official beach advisory information</strong></p>

        <div class="logo_container">
          <div class="logo_category" style="margin:30px auto"><a href="http://www.sc.edu/" target="_blank"><img src="/static/images/sc_logo.png" alt="SC logo" /></a></div>
          <div class="logo_category" style="margin:30px auto"><a href="http://secoora.org/" target="_blank"><img src="/static/images/secoora_logo.png" alt="SECOORA logo" /></a></div>
          <div class="logo_category" style="margin:30px auto"><a href="http://www.umces.edu/" target="_blank"><img src="/static/images/umces_logo.png" alt="UMCES logo" /></a></div>
        </div>
    </div>

    <div data-role="collapsible" id="forecast_panel">
    <h3>&nbsp;Forecast</h3>
      <h3>What is the forecast?</h3>
        <p>Bacteria levels can change very rapidly between sampling dates. To fill in the gaps, we make daily predictions of bacteria conditions. <strong>These predictions do not represent swimming advisories</strong>, but provide estimates of the likelihood that bacteria conditions would warrant issuing an advisory if sampling were conducted that day.</p><p><strong>These forecasts are for informational purposes only</strong></p>
        <p>The probability that today's bacteria level will exceed the safe swimming standard based on an automated prediction system.</p>
                  <p>
                      <img src="/static/images/none_marker.png" /> No forecast available<br />
                      <img src="/static/images/low_marker.png" /> Low<br />
                      <img src="/static/images/medium_marker.png" /> Medium<br />
                      <img src="/static/images/high_marker.png" /> High<br />
                  </p>
          <h3>How is the forecast generated?</h3>
           <p>Predictions are made based on relationships between bacteria level and rainfall, salinity, wind conditions, and water temperature found in previous sampling. These relationships are used to create daily estimates of bacteria level.</p>
    </div>

    <div data-role="collapsible">
      <h3>&nbsp;Swim Advisory Data</h3>
      <p><h3>South Carolina Department of Health and Environmental Control Sampling Program </h3>
        South Carolina Department of Health and Environmental Control <a href="http://www.scdhec.gov/HomeAndEnvironment/Pollution/DHECPollutionMonitoringServices/BeachMonitoring/" target="_blank">program page</a>
      </p>
      <h3>Swimming Advisories</h3>
      <p>
        We routinely collect water samples at more than 120 locations along South Carolina's beaches.
        If high numbers of bacteria are found, we issue an advisoryfor that portion of the beach.
        An advisory means that DHEC advises you NOT to swim in those areas.
        This is especially true for young children, the elderly, and those with compromised immune systems. Advisories do not mean that the beach is closed. Wading, fishing, and shell collecting do not pose a risk. Advisories may be issued due to high bacteria counts or rainfall. Advisories are lifted when sample results fall below the limit of 104CFU/100mL.
        Look for advisory signs when you go to the beach.
      </p>

      <h3>Indicators</h3>
      <p>
        The South Carolina Department of Health and Environmental Control (SCDHEC) tests water quality at beaches weekly to determine if it is safe for swimming.
        The icons on the map page are the locations where the sampling is conducted.
        SCDHEC Tests the water for indicators of recent pollution.
        The presence of these indicators suggests that harmful bacteria or viruses may also be present. Enterococci bacteria level is the recommended indicator for use in salt water.
        The date of the last measurement is shown. Generally, bacteria monitoring is conducted once per week.
      </p>
      <p>
        {% for limit_type, limit_rec in sampling_program_info.advisory_limits.iteritems() %}
          {% if limit_type != 'No data' %}
            {% if limit_type != 'High' %}
              <img src="/static/images/{{ limit_rec.icon }}" /> {{ limit_type }} level ({{ limit_rec.min_limit }}-{{ limit_rec.max_limit }} per 100mL of water)<br />
            {% else %}
              <img src="/static/images/{{ limit_rec.icon }}" /> {{ limit_type }} level (>{{ limit_rec.min_limit }} per 100mL of water)<br />
            {% endif %}
          {% else %}
            <img src="/static/images/{{ limit_rec.icon }}" /> No data available in the last 30 days<br />
          {% endif %}
        {%  endfor %}
      </p>
    </div>
  </div>
{% endblock %}

{% block mainfooter_block %}
  <div data-role="navbar">
			<ul id="navItems">
        <li><a id="forecastButton" class="ui-state-persist ui-btn-active"
               onclick="changeMapMarker('forecast');
               $('#forecastButton').addClass('ui-state-persist');
               $('#advisoriesButton').removeClass('ui-state-persist');
               $('#dataButton').removeClass('ui-state-persist');">Forecast</a>
        </li>
        {% if issues_swim_advisories %}
          <li><a id="advisoriesButton"
                 onclick="changeMapMarker('advisories');
                 $('#advisoriesButton').addClass('ui-state-persist');
                 $('#forecastButton').removeClass('ui-state-persist');
                 $('#dataButton').removeClass('ui-state-persist');">Swim Advisory</a>
          </li>
        {% else %}
          <li><a id="advisoriesButton"
                 onclick="changeMapMarker('advisories');
                 $('#advisoriesButton').addClass('ui-state-persist');
                 $('#forecastButton').removeClass('ui-state-persist');
                 $('#dataButton').removeClass('ui-state-persist');">Water Quality Data</a>
          </li>
        {% endif %}
        <!--
        <li><a id="dataButton"
               onclick="changeMapMarker('data');
               $('#dataButton').addClass('ui-state-persist');
               $('#advisoriesButton').removeClass('ui-state-persist');
               $('#forecastButton').removeClass('ui-state-persist');">Data</a>
        </li>
        -->
      </ul>
		</div>
{% endblock %}