{% extends "index_template_base.html" %}
{% block title %}My SC Rivers{% endblock %}
{% block about_content %}
  <div data-role="collapsible-set" data-inset="false">
    <div data-role="collapsible" data-collapsed="false">
      <h3>&nbsp;About</h3>

        <div class="logo_container">
        </div>
    </div>
    <div data-role="collapsible">
      <h3>&nbsp;Swim Advisory Data</h3>
      <p><h3>{{ sampling_program_info.sampling_program }} Sampling Program </h3>
        {{ sampling_program_info.sampling_program }} <a href="{{ sampling_program_info.url }}" target="_blank">program page</a>
      </p>
      <h3>Swimming Advisories</h3>
      <p>
        {{ sampling_program_info.swim_advisory_info }}
      </p>

      <h3>Indicators</h3>
      <p> {{ sampling_program_info.description }}</p>
      <p>
        {% if sampling_program_info.advisory_limits %}
          {% for limit_type, limit_rec in sampling_program_info.advisory_limits.iteritems() %}
            {% if limit_type != 'No data' %}
              {% if limit_type != 'High' %}
                <img src="/static/images/{{ limit_rec.icon }}" /> {{ limit_type }} level ({{ limit_rec.min_limit }}-{{ limit_rec.max_limit }} per 100mL of water)<br />
              {% else %}
                <img src="/static/images/{{ limit_rec.icon }}" /> {{ limit_type }} level (>{{ limit_rec.min_limit }} per 100mL of water)<br />
              {% endif %}
            {% else %}
              <img src="/static/images/{{ limit_rec.icon }}" /> No data available in the last 30 days<br />
            {% endif %}
          {%  endfor %}
        {% endif %}
      </p>

        <!--
        <p><img src="/static/images/low_marker.png" /> None: there is no swimming advisory issued and it is considered safe to swim at this beach<br />
        <img src="/static/images/high_marker.png" /> Yes: an advisory is current – DHEC does not recommend swimming at this beach<br />
        <img src="/static/images/high_marker.png" /> Permanent: SCDHEC has issued a swimming advisory on a permanent basis. These are issued in specific locations where the bacteria water quality standard has been exceeded frequently in previous monitoring.</p>
        -->
    </div>
  </div>

{% endblock %}

{% block beachListPage %}
  <div data-role="header" data-id="mainheader" data-theme="c" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul id="navItems">
        <li><a href="#mapPage">Map</a></li>
        <li><a href="#beachListPage" class="ui-state-persist ui-btn-active">Search</a></li>
        <li><a href="#moreInformation">Info</a></li>
      </ul>
    </div>
    <ul id="beachListHeadings" data-role="listview">
      <li data-theme="d" style="padding:0 0 5px 0;border:none;">
        <span onclick="sortBy(1)" class="list-table-heading" style="text-align:left;padding-left:25px;">
          <div id="arrows_1" class="arrow-asc"></div>
          <div style="display:inline-block">Location</div>
        </span>
        <span onclick="sortBy(4)" class="list-table-heading">
          <div id="arrows_4"></div>
          <div style="display:inline-block">Advisory</div>
        </span>
        <span onclick="sortBy(5)" class="list-table-heading">
          <div id="arrows_5"></div>
          <div style="display:inline-block">Bacteria<br/>Data</div>
        </span>
      </li>
    </ul>
  </div>
  <div data-role="content" style="padding-top:0">
    <ul id="beachList" data-divider-theme="c" data-role="listview" data-filter="true"
        data-filter-placeholder="Search sites (name or advisory, eg low)"></ul>
  </div>
{% endblock %}

{% block beachDetailsPage %}
	<div id="detailsheader" data-role="header" data-add-back-btn="true" data-id="detailsheader" data-theme="c" data-position="fixed" data-tap-toggle="false">
		<h1 id="beachName" style="font-size:12px;height:25px;"></h1>
		<div data-role="navbar">
			<div id="detail_page_tabs" data-role="tabs">
		        <ul>
		            <li><a id="details_data_tab_link" href="#data_panel">Data</a></li>
		            <li><a id="details_map_tab_link" href="#map_panel" class="detail_map_button">Aerial view</a></li>
		        </ul>
	    	</div>
    	</div>
	</div>

  <div data-role="content" style="padding-left:0;padding-right:0;padding-bottom:0">

  	<div id="data_panel" data-role="tab-content">

    	<div id="beachDetailsContainer">

	    	<ul id="beachDetailsHeadings" data-role="listview">
				<li data-theme="d" style="padding:0;border:none;">
					<span id="details_forecast_column" class="details-table-heading">Forecast<br /></span>
					<span id="details_data_column" class="details-table-heading">Bacteria<br />Data<br /></span>
				</li>
			</ul>
		    <ul id="beachDetails" data-divider-theme="c" data-role="listview"></ul>
		    <hr style="clear: both;visibility: hidden;" />

			<fieldset id="dayRangeSelector" style="padding-left:10px;" data-role="controlgroup" data-mini="true" data-type="horizontal">

		         	<input type="radio" name="num-days" id="num-days-30" value="30" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 30)),Date.parse(current_date));" />
		         	<label for="num-days-30">30 days</label>

		         	<input type="radio" name="num-days" id="num-days-60" value="60" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 60)),Date.parse(current_date));" />
		         	<label for="num-days-60">60 days</label>

		         	<input type="radio" name="num-days" id="num-days-180" value="180" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 180)),Date.parse(current_date));"  />
		         	<label for="num-days-180">180 days</label>

		         	<input type="radio" name="num-days" id="num-days-365" value="365" onclick="monitoringChart.xAxis[0].setExtremes(Date.parse(date_by_subtracting_days(current_date, 365)),Date.parse(current_date));" checked="checked" />
		         	<label for="num-days-365">365 days</label>

			</fieldset>

		</div>

		<div id="monitoring_data_graph" style="padding:0;width:99%"></div>
	</div>

	<div id="map_panel" data-role="tab-content" style="padding:0">
		<div id="detail_map_canvas" style="width:100%"></div>
	</div>

  </div>

{% endblock %}