{% extends "intro_page_base.html" %}
{% google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-101477502-1', 'auto');
    ga('send', 'pageview');

  </script>
{% endblock %}

{% block title %}My SC Rivers{% endblock %}
{% block header_block %}      <div class="row row-buffer-20px"></div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <img class="img-rounded" src="static/images/swimmer_icon.png"  style="width: 80px; height: 80px;">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 header_text">
      <h1 class="text-center">HOW'S MY RIVER?</h1>
      <h2 class="text-center">Headed to the river? Use this app to see if the water quality is healthy before going in!</h2>
    </div>
  </div>
{% endblock %}
{% block marketing_block %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="marketing-header">Choose a location to explore</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 entry_col">
      <a class="btn" href="/saluda" role="button">
        <img class="img-rounded" src="static/images/sc_rivers.png"  style="width: 140px; height: 140px;">
      </a>
      <p><a class="btn btn-default details-btn" href="/saluda" role="button">Saluda/Broad/Congaree</br>South Carolina &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 marketing-disclaimer">
      <p>
        <h5><em>Disclaimer: This product is for informational purposes only.</em></h5>
      </p>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
{% endblock %}

{% block footer_block %}
  <div class="row row-buffer-20px"></div>
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <img class="img-rounded center-block" src="static/images/swimmer_icon.png" style="width: 40px; height: 40px;">
    </div>
    <div class="col-xs-10 col-md-11 partners">
    </div>
  </div>
  <div class="row logo_row">
    </div>
  </div>

{% endblock %}
